<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" [routerLink] = "['/main']">GetFast</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink] = "['/main']">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink] = "['/signup']" *ngIf = "!this.userservice.navlogin"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a [routerLink] = "['/login']" *ngIf = "!this.userservice.navlogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a [routerLink] = "['/userprofile']" *ngIf = "this.userservice.navlogin"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a [routerLink] = "['/main']" (click) = "logout()" *ngIf = "this.userservice.navlogin"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

